<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">LET'S CODE</h1>
        <p class="lead">Solving coding problems, Collaboratively</p>
        <button type="button" class="btn btn-primary btn-lg" routerLink='/problems'>Get Started</button>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h2 class="font-weight-light">What is Let's Code?</h2>
    <p>Lets Code is a prototype of a coding platform, which allows people working on one problem simultaneously.</p>
  </div>
</section>
